<div class="container">

    <div *ngIf="add; then thenTitle else elseTitle"></div>
    <ng-template #thenTitle>
        <h2 mat-dialog-title>{{ 'DIALOGS.CREATE_USER' | translate }}</h2>
    </ng-template>
    <ng-template #elseTitle>
        <h2 mat-dialog-title>{{ 'DIALOGS.UPDATE_USER' | translate }}</h2>
    </ng-template>

    <mat-dialog-content>

    <form #addForm ="ngForm">
        <div class="form-group">
            <label>{{ 'USER_INFO.NAME' | translate}}</label>
            <div *ngIf="add; then thenName else elseName"></div>

            <ng-template #thenName>
                <input type="text" class="form-control" name="name" [(ngModel)] = "userRequest.name" required #name="ngModel">
                <div *ngIf="name.invalid && (name.dirty || name.touched)"class="alert">
                    <div *ngIf="name.errors?.['required']">
                        {{ 'VALID.NAME' | translate }}
                    </div>
                </div>
            </ng-template>

            <ng-template #elseName>
                <input type="text" class="form-control" name="name" [(ngModel)] = "updateUser!.name" required #name="ngModel">
                <div *ngIf="name.invalid && (name.dirty || name.touched)"class="alert">
                    <div *ngIf="name.errors?.['required']">
                        {{ 'VALID.NAME' | translate }}
                    </div>
                </div>
            </ng-template>
        </div>

        <div class="form-group">
            <label>{{ 'USER_INFO.SURNAME' | translate}}</label>
            <div *ngIf="add; then thenSurname else elseSurname"></div>

            <ng-template #thenSurname>
                <input type="text" class="form-control" name="surname" [(ngModel)] = "userRequest.surname" required #surname="ngModel">
                <div *ngIf="surname.invalid && (surname.dirty || surname.touched)"class="alert">
                    <div *ngIf="surname.errors?.['required']">
                        {{ 'VALID.SURNAME' | translate}}
                    </div>
                </div>
            </ng-template>

            <ng-template #elseSurname>
                <input type="text" class="form-control" name="surname" [(ngModel)] = "updateUser!.surname" required #surname="ngModel">
                <div *ngIf="surname.invalid && (surname.dirty || surname.touched)"class="alert">
                    <div *ngIf="surname.errors?.['required']">
                        {{ 'VALID.SURNAME' | translate}}
                    </div>
                </div>
            </ng-template>
        </div>

        <div class="form-group">
            <label>{{ 'USER_INFO.BIRTHDATE' | translate}}</label>
            <div *ngIf="add; then thenDate else elseDate"></div>

            <ng-template #thenDate>
                <input mat-input [matDatepicker]="datePicker" class="form-control" id="datePicker" name="birthDate" [(ngModel)] = "userRequest.birthDate" required #date="ngModel">
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>

                <div *ngIf="date.invalid && (date.dirty || date.touched)"class="alert">
                    <div *ngIf="date.errors?.['required']">
                        {{ 'VALID.BIRTHDATE' | translate}}
                    </div>
                </div>
            </ng-template>

            <ng-template #elseDate>
                <input mat-input [matDatepicker]="datePicker" class="form-control" id="datePicker2" name="birthDate" [(ngModel)] = "updateUser!.birthDate" required required #date="ngModel">
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>

                <div *ngIf="date.invalid && (date.dirty || date.touched)"class="alert">
                    <div *ngIf="date.errors?.['required']">
                        {{ 'VALID.BIRTHDATE' | translate}}
                    </div>
                </div>
            </ng-template>
        </div>

        <div class="form-group">
            <label>{{ 'USER_INFO.STREET' | translate }}</label>
            <div *ngIf="add; then thenStreet else elseStreet"></div>

            <ng-template #thenStreet>
                <input type="text" class="form-control" name="street" [(ngModel)] = "userRequest.street" required #street="ngModel">
                <div *ngIf="street.invalid && (street.dirty || street.touched)"class="alert">
                    <div *ngIf="street.errors?.['required']">
                        {{ 'VALID.STREET' | translate }}
                    </div>
                </div>
            </ng-template>

            <ng-template #elseStreet>
                <input type="text" class="form-control" name="street" [(ngModel)] = "updateUser!.address.street" required #street="ngModel">
                <div *ngIf="street.invalid && (street.dirty || street.touched)"class="alert">
                    <div *ngIf="street.errors?.['required']">
                        {{ 'VALID.STREET' | translate }}
                    </div>
                </div>
            </ng-template>
        </div>

        <div class="form-group">
            <label>{{ 'USER_INFO.HOUSENUMBER' | translate }}</label>
            <div *ngIf="add; then thenHouseNumber else elseHouseNumber"></div>

            <ng-template #thenHouseNumber>
                <input type="number" class="form-control" name="houseNumber" [(ngModel)] = "userRequest.houseNumber" required min="1" #houseNumber="ngModel">
                <div *ngIf="houseNumber.invalid && (houseNumber.dirty || houseNumber.touched)"class="alert">
                    <div *ngIf="houseNumber.errors?.['required']">
                        {{ 'VALID.HOUSENUMBER.REQ' | translate }}
                    </div>

                    <div *ngIf="houseNumber.errors?.['min']">
                        {{ 'VALID.HOUSENUMBER.MIN' | translate }}
                    </div>
                </div>
            </ng-template>

            <ng-template #elseHouseNumber>
                <input type="number" class="form-control" name="houseNumber" [(ngModel)] = "updateUser!.address.number" required min="1" #houseNumber="ngModel">
                <div *ngIf="houseNumber.invalid && (houseNumber.dirty || houseNumber.touched)" class="alert">
                    <div *ngIf="houseNumber.errors?.['required']">
                        {{ 'VALID.HOUSENUMBER.REQ' | translate }}
                    </div>

                    <div *ngIf="houseNumber.errors?.['min']">
                        {{ 'VALID.HOUSENUMBER.MIN' | translate }}
                    </div>
                </div>
            </ng-template>
        </div>

        <div class="form-group">
            <label>{{ 'USER_INFO.CITY' | translate}}</label>
            <div *ngIf="add; then thenCity else elseCity"></div>

            <ng-template #thenCity>
                <input type="text" class="form-control" name="city" [(ngModel)] = "userRequest.city" required #city="ngModel">
                <div *ngIf="city.invalid && (city.dirty || city.touched)"class="alert">
                    <div *ngIf="city.errors?.['required']">
                        {{ 'VALID.CITY' | translate }}
                    </div>
                </div>
            </ng-template>

            <ng-template #elseCity>
                <input type="text" class="form-control" name="city" [(ngModel)] = "updateUser!.address.city" required #city="ngModel">
                <div *ngIf="city.invalid && (city.dirty || city.touched)"class="alert">
                    <div *ngIf="city.errors?.['required']">
                        {{ 'VALID.CITY' | translate }}
                    </div>
                </div>
            </ng-template>
        </div>
    </form>

    <mat-dialog-actions>
        <div *ngIf="add; then thenButton else elseButton"></div>
        <ng-template #thenButton>
            <button id="addButton" [disabled]="addForm.invalid" class="mat-raised-button" (click)="onSubmit()" type="submit">{{ 'BUTTONS.ADD' | translate }}</button>
        </ng-template>
        <ng-template #elseButton>
            <button id="updateButton" [disabled]="addForm.invalid" class="mat-raised-button" (click)="onSubmitUpdate()" type="submit">{{ 'BUTTONS.SAVE' | translate }}</button>
        </ng-template>
        <button class="mat-raised-button"(click)="close()">{{ 'BUTTONS.CLOSE' | translate }}</button>
    </mat-dialog-actions>

    </mat-dialog-content>
</div>

