table {
    width: 100%;
}

td {
    text-align: center;
}

.mat-header-cell {
    background-color: black;
    text-align: center;
    vertical-align: middle;
}

.mat-paginator {
    background-color: black;
}

.mat-cell {
    color: black;
}

.mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
.mat-column-surname {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
.mat-column-personalNumber {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

.mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

#addUserButton {
    background-color: black;
    color: white;
    margin: 0.2%;
    box-shadow: none !important;
}

#deleteUserButton {
    background-color: white;
    color: red;
    border: none !important;
}

#updateUserButton {
    background-color: white;
    color: black;
    border: none !important;
}

#infoUserButton {
    background-color: white;
    color:greenyellow;
    border: none !important;
}