<div class="container">
    <table class="table table-striped table-bordered">
        <thead class = "thead-dark">
            <th scope = "col">Os. číslo</th>
            <th scope = "col">Meno</th>
            <th scope = "col">Priezvisko</th>
            <th scope = "col">Dátum narodenia</th>
            <th scope = "col">Ulica</th>
            <th scope = "col">Číslo</th>
            <th scope = "col">Mesto</th>
        </thead>

        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user?.personalNumber}}</td>
                <td>{{user?.name}}</td>
                <td>{{user?.surname}}</td>
                <td>{{user?.birthDate}}</td>
                <td>{{user?.address?.street}}</td>
                <td>{{user?.address?.number}}</td>
                <td>{{user?.address?.city}}</td>
            </tr>
        </tbody>
    </table>
</div>