<div class="card my-5">
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead class = "thead-dark">
                <th scope = "column">Os. číslo</th>
                <th scope = "column">Meno</th>
                <th scope = "column">Priezvisko</th>
                <th scope = "column">Dátum narodenia</th>
                <th scope = "column">Ulica</th>
                <th scope = "column">Číslo</th>
                <th scope = "column">Mesto</th>
                <th scope = "column">Štát</th>
            </thead>

            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.personalNumber}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.birthDate}}</td>
                    <td>{{user.address?.street}}</td>
                    <td>{{user.address?.number}}</td>
                    <td>{{user.address?.city}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>