<h2 mat-dialog-title>{{ 'DIALOGS.REMOVE_USER' | translate }}</h2>

<mat-dialog-content>
    <p>Ste si istý že chcete vymazať používateľa ?</p>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="d-flex justify-content-end">
        <div class="p-2"><button mat-raised-button color="warn" id="deleteButton" (click)="onSubmit()">{{ 'BUTTONS.DELETE' | translate }}</button></div>
        <div class="p-2"><button class="mat-raised-button"(click)="close()">{{ 'BUTTONS.CLOSE' | translate }}</button></div>
    </div>
</mat-dialog-actions>
